#
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
#

*   jacobus.geluk@agnos.ai
*   jacobus.geluk@dataroad.com
*   jacobus.geluk@ekgf.org
*   marcelo.barbieri@agnos.ai
*   marcelo.barbieri@dataroad.com
*   giselle.cole@agnos.ai
*   giselle.cole@dataroad.com
